@page
@using Entities
@using XuLyNghiepVu
@model QuanLyCuaHang.Pages.MH_Sua_MatHangModel
@{
    string kq = string.Empty;
    string maHang = Request.Query["mahang"];
    MatHang? mh = null;
    string[] tlh = XL_LoaiHang.LayDanhSachTenLoaiHang();
    if (!string.IsNullOrEmpty(maHang))
    {
        mh = XL_MatHang.DocThongTinChiTietMatHang(maHang);
        if (mh == null)
        {
            kq = "Mặt hàng không tồn tại";
        }
        else
        {
            if (Request.Method == "POST")
            {
                string tenHang = Request.Form["tenhang"];
                DateOnly hanDung = DateOnly.Parse(Request.Form["handung"]);
                string congTySanXuat = Request.Form["congtysanxuat"];
                DateOnly ngaySanXuat = DateOnly.Parse(Request.Form["ngaysanxuat"]);
                string loaiHang = Request.Form["loaihang"];
                double giaBan = double.Parse(Request.Form["giaban"]);

                MatHang matHangMoi = mh.Value;
                matHangMoi.TenHang = tenHang;
                matHangMoi.HanDung = hanDung;
                matHangMoi.CongTySanXuat = congTySanXuat;
                matHangMoi.NgaySanXuat = ngaySanXuat;
                matHangMoi.LoaiHang = loaiHang;
                matHangMoi.GiaBan = giaBan;

                kq = XL_MatHang.SuaMatHang(matHangMoi);
                if (string.IsNullOrEmpty(kq))
                {
                    <script>
                        var message = "Sửa mặt hàng thành công";
                        // Hien thi thong bao
                        alert(message);
                        // Redirect to "MH_DanhSach_MatHang"
                        window.location.href = "MH_DanhSach_MatHang";
                    </script>
                }
            }
        }
    }
    else
    {
        kq = "Không có tham số mã hàng";
    }
}

<div class="div div-space">
    <h2>Sửa mặt hàng</h2>
</div>

<div class="div">
    @if (mh != null)
    {
        <form method="post">
            <label for="mahang" class="label-form">Mã hàng</label>
            <input id="mahang" type="text" readonly name="mahang" value="@mh.Value.MaHang"><br>

            <lable for="tenhang" class="label-form">Tên hàng</lable>
            <input id="tenhang" type="text" name="tenhang" value="@mh.Value.TenHang"><br>

            <label for="handung" class="label-form">Hạn sử dụng</label>
            <input id="handung" type="text" name="handung" value="@mh.Value.HanDung"><br>

            <label for="congtysanxuat" class="label-form">Công ty sản xuất</label>
            <input id="congtysanxuat" type="text" name="congtysanxuat" value="@mh.Value.CongTySanXuat"><br>

            <lable for="ngaysanxuat" class="label-form">Ngày sản xuất</lable>
            <input id="ngaysanxuat" type="text" name="ngaysanxuat" value="@mh.Value.NgaySanXuat"><br>

            <lable for="loaihang" class="label-form">Loại hàng</lable>
            <select name="loaihang">
                <option name="@mh.Value.LoaiHang" value="@mh.Value.LoaiHang">@mh.Value.LoaiHang</option>
                @foreach (string tenLoaiHang in tlh)
                {
                    if (tenLoaiHang != @mh.Value.LoaiHang)
                    {
                        <option name="@tenLoaiHang" value="@tenLoaiHang">@tenLoaiHang</option>
                    }
                }
            </select>
            <label for="giaban" class="label-form">Giá bán</label>
            <input id="giaban" type="text" name="giaban" value="@mh.Value.GiaBan"><br>

            <input type="submit" value="Lưu" class="button-them-sua">
        </form>
    }
    @if (kq != string.Empty)
    {
        <h3 class="h3">@kq</h3>
    }
</div>
