@page
@model QuanLyCuaHang.Pages.MH_Sua_HoaDonNHapModel
@using Entities
@using XuLyNghiepVu
@{
    string kq = string.Empty;
    string maHd = Request.Query["mahoadon"];
    HoaDonNhapHang? hd = null;
    if (!string.IsNullOrEmpty(maHd))
    {
        hd = XL_HoaDonNhap.DocThongTinChiTietHoaDon(maHd);
        if (hd == null)
        {
            kq = "Hóa đơn không tồn tại";
        }
        else
        {
            if (Request.Method == "POST")
            {
                DateOnly ngayTao = DateOnly.Parse(Request.Form["ngaytao"]);
                string maHang = Request.Form["mahang"];
                string tenHang = Request.Form["tenhang"];
                string congTySanXuat = XL_MatHang.LayTenCongTySanXuat(maHang);
                string loaiHang = XL_MatHang.LayTenLoaiHang(maHang);
                DateOnly ngaySanXuat = XL_MatHang.LayNgaySanXuat(maHang);
                DateOnly hanDung = XL_MatHang.LayHanDung(maHang);
                int soLuongNhapMoi = int.Parse(Request.Form["soluong"]);
                double giaNhap = double.Parse(Request.Form["gianhap"]);
                double thanhTien = giaNhap * soLuongNhapMoi;
                int soLuongTonKho = XL_MatHang.LaySoLuongTonKho(maHang);
                int soLuongNhapCu = XL_HoaDonNhap.LaySoLuongNhap(maHd);

                HoaDonNhapHang hoaDonMoi = hd.Value;
                hoaDonMoi.NgayTao = ngayTao;
                hoaDonMoi.MaHang = maHang;
                hoaDonMoi.TenHang = tenHang;
                hoaDonMoi.SoLuong = soLuongNhapMoi;
                hoaDonMoi.GiaNhap = giaNhap;
                hoaDonMoi.ThanhTien = thanhTien;

                MatHangTonKho mh;
                mh.MaHang = maHang;
                mh.TenHang = tenHang;
                mh.LoaiHang = loaiHang;
                mh.CongTySanXuat = congTySanXuat;
                mh.NgaySanXuat = ngaySanXuat;
                mh.HanDung = hanDung;
                mh.SoLuongTonKho = soLuongTonKho + soLuongNhapMoi - soLuongNhapCu;

                bool check = XL_MatHang.KiemTraMaHangTrongDanhSachMatHang(maHang);

                if (check)
                {
                    kq = XL_HoaDonNhap.SuaHoaDon(hoaDonMoi);
                    string kqSuaTonKho = XL_MatHang.SuaMatHangTonKHo(mh);
                }
                else
                {
                    kq = "Không tồn tại mã hàng trong danh sách mặt hàng!";
                }
                
                if (string.IsNullOrEmpty(kq))
                {
                    <script>
                        var message = "Sửa hóa đơn thành công";
                        // Hien thi thong bao
                        alert(message);
                        // Redirect to "MH_DanhSach_HoaDonNhap"
                        window.location.href = "MH_DanhSach_HoaDonNhap";
                    </script>
                }
            }
        }
    }
    else
    {
        kq = "Không có tham số mã hóa đơn";
    }
}

<div class="div div-space">
    <h2>Sửa hóa đơn nhập hàng</h2>
</div>

<div class="div">
    @if (hd != null)
    {
        <form method="post">
            <label for="mahoadon" class="label-form">Mã hóa đơn</label>
            <input id="mahoadon" type="text" readonly name="mahoadon" value="@hd.Value.MaHoaDon"><br>

            <label for="ngaytao" class="label-form">Ngày tạo</label>
            <input id="ngaytao" type="text" name="ngaytao" value="@hd.Value.NgayTao"><br>

            <label for="mahang" class="label-form">Mã hàng</label>
            <input id="mahang" type="text" name="mahang" value="@hd.Value.MaHang"><br>

            <lable for="tenhang" class="label-form">Tên hàng</lable>
            <input id="tenhang" type="text" name="tenhang" value="@hd.Value.TenHang"><br>

            <label for="soluong" class="label-form">Số lượng</label>
            <input id="soluong" type="text" name="soluong" value="@hd.Value.SoLuong"><br>

            <label for="gianhap" class="label-form">Giá nhập</label>
            <input id="gianhap" type="text" name="gianhap" value="@hd.Value.GiaNhap"><br>

            <lable for="thanhtien" class="label-form">Thành tiền</lable>
            <input id="thanhtien" type="text" readonly name="thanhtien" value="@hd.Value.ThanhTien"><br>

            <input type="submit" value="Lưu" class="button-them-sua">
        </form>
    }
    @if (kq != string.Empty)
    {
        <h3 class="h3">@kq</h3>
    }
</div>
