@page
@using Entities
@using XuLyNghiepVu
@model QuanLyCuaHang.Pages.MH_Xoa_MatHangModel
@{
    string chuoi = string.Empty;
    string maHang = Request.Query["mahang"];
    MatHang? mh = null;
    if (!string.IsNullOrEmpty(maHang))
    {
        mh = XL_MatHang.DocThongTinChiTietMatHang(maHang);
        if (mh == null)
        {
            chuoi = "Mặt hàng không tồn tại";
        }
        else
        {
            if (Request.Method == "POST")
            {
                string kq = XL_MatHang.XoaMatHang(maHang);
                chuoi = kq;
                if (string.IsNullOrEmpty(chuoi))
                {
                    <script>
                        var message = "Xóa mặt hàng thành công";
                        // Hien thi thong bao
                        alert(message);
                        // Redirect to "MH_DanhSach_MatHang"
                        window.location.href = "MH_DanhSach_MatHang";
                    </script>
                }
            }
        }
    }
    else
    {
        chuoi = "Không có tham số mã mặt hàng";
    }
}

<div>
    @if (mh != null)
    {
        <div>
            <p style="font-size: 30px;">Bạn có muốn xóa mặt hàng <b style="color: #ff0047">@mh.Value.TenHang</b> không?</p>
            <ul>
                <li><span class="label">Mã hàng</span>: @mh.Value.MaHang</li>
                <li><span class="label">Tên hàng</span>: @mh.Value.TenHang</li>
                <li><span class="label">Loại hàng</span>: @mh.Value.LoaiHang</li>
                <li><span class="label">Công ty sản xuất</span>: @mh.Value.CongTySanXuat</li>
                <li><span class="label">Ngày sản xuất</span>: @mh.Value.NgaySanXuat</li>
                <li><span class="label">Hạn sử dụng</span>: @mh.Value.HanDung</li>
                <li><span class="label">Giá bán</span>: @mh.Value.GiaBan</li>
            </ul>
        </div>

        <div class="button-container">
                <form method="post">
                    <input type="submit" value="Xóa" class="button-xoa">
                </form>
                <a href="MH_DanhSach_MatHang"><button class="button-cancel">Cancel</button></a>
        </div>
    }
    @if (chuoi != string.Empty)
    {
        <div>@chuoi</div>
    }
</div>